*{
    margin: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

p{
    margin: 0.5em 0 0.5em 0;
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgreen;
    padding: 10px;
}

nav a:visited,
nav a:link{
    color: aliceblue;
    text-decoration: none;    
}

nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main{
    display: block;
    background-image: url("images/nookbackground.png");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 87%;

}

footer{
    padding: 15px;
    background-color: rgb(108, 184, 108);
}

aside,
article{
    padding:2em;
}

aside{
    text-align: center;  
}

article{
    width: 75%;

}

.columns{
    display: flex;
}


@media only screen and (min-width: 768px){
    main{
        display: flex;
    }
    aside{
        margin-left: 2%;
    }

    .columns-desktop{
        display: flex;
    }
}

/* Styles specific to the menu page */

.breakfast{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    border: solid 1px rgb(108, 184, 108);
}

.breakfast img{
    width: 100%;
}

.breakfast .title{
    font-weight: bold;
}

.breakfast .columns{
    width: 100%;
}

.breakfast .price{
    text-align: right;
}

.breakfast .columns div{
    width: 50%;
}

.breakfast  button{
    background-color: rgb(108, 184, 108);
    padding: 10px;
    border: solid 1px darkgreen;
    border-radius: 3px;
    color: white;

}